#swiper-container{
	width:100%;
	height:100%;
	.swiper-slide:last-child{
	   p{
	      position:absolute;
	      width:1.2rem;
	      height:0.5rem;
	      right:0.7rem;
	      bottom:0.55rem;
	      z-index:100;
	   }
	}
	img{
	   width:100%;
	   height:100%;
	}
}