@font-face{
	font-family:"yofont";
	src:url("/football-app/icon/iconfont.woff") format("woff"),
	    url("/football-app/icon/iconfont.ttf") format("truetype");
}

@font-face{
	font-family:"yofont";
	src:url("/football-app/icon/iconfont-menu.woff") format("woff"),
	    url("/football-app/icon/iconfont-menu.ttf") format("truetype");
}