@charset "utf-8";
@import "../lib/core/reset";
@import "./module/index";
@import "./module/home";
@import "./module/my";
@import "./module/guide";
@import "./module/find";
@import "./module/detail";
@import "./module/login";
@import "./module/register";
@import "./core/swiper-3.3.1.min.css";

@import "../lib/widget/yo-dialog";
@import "../lib/element/yo-loading"; 


html,body{
	width:100%;
	height:10%;
	overflow:hidden;
}

//宏
spa-app{
	position:absolute;
	overflow:hidden;
}
spa-view{
	position:absolute;
	z-index:0;
	top:0;
	left:0;
	bottom:0;
	width:100%;
	background:#eceef0!important;
	@include flexbox(flex);
	@include flex-direction(column);
}
